In [1]:
import numpy as np

## Datatypes and Attributes

In [2]:
# Numpy's main datatype is ndarray

#Anatomy of Numpy Array

#Array, Vector    shape = (1,3)
a1 = np.array([1,2,3,4,5])
a1

array([1, 2, 3, 4, 5])

In [3]:
type(a1)

numpy.ndarray

In [5]:
# Array, Matrix 2-D    shape = (2,3)
a2 = np.array([[1,2,3],[2,3,4],[4.1,2.1,3.1]])

#  Array, matrix        shape = (2,3,3)
a3 = np.array([[[1,2,3],
                [4,5,6],
                [7,8,9]],
              [[10,11,12],
               [13,14,15],
               [16,17,18]]])

In [6]:
a2

array([[1. , 2. , 3. ],
       [2. , 3. , 4. ],
       [4.1, 2.1, 3.1]])

In [8]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [9]:
# Shape
a1.shape

(5,)

In [11]:
a2.shape

(3, 3)

In [12]:
a3.shape

(2, 3, 3)

In [13]:
# Dimensions
a1.ndim, a2.ndim, a3.ndim

(1, 2, 3)

In [14]:
# Datatypes
a1.dtype, a2.dtype, a3.dtype

(dtype('int64'), dtype('float64'), dtype('int64'))

In [15]:
# Size
a1.size, a2.size, a3.size

(5, 9, 18)

In [16]:
type(a1), type(a2), type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [18]:
# Create a DataFrame from a Numpy Array
import pandas as pd
df = pd.DataFrame(a2)
df

     0    1    2
0  1.0  2.0  3.0
1  2.0  3.0  4.0
2  4.1  2.1  3.1